.header{
    /* margin-top: 60px; */
    /* z-index: 999; */
}

.headerTitles{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Mukta', sans-serif;
    color: rgb(71, 71, 71);
    z-index: 0;
}

.headerTitlesSm{
    position: absolute;
    top: 10%;
    font-size: 20px;
}

.headerTitlesLg{
    position: absolute;
    /* top: 12%; */
    font-size: 100px;
}

.headerImg{
    width: 100%;
    height: 960px;
    /* margin-top: 80px; */
    object-fit: fill;
}